<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rijstijlanalyse</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="sidenav">
        <img class="logo" src="../logo.png">
        <h3>{{.FullName}}</h3>
        <p>{{.PersonID}}</p>
        <hr style="border: 0.25rem solid #FECC00;">
        <h5><i class="fas fa-calendar fa-md"></i> Datum</h5>
        <p>{{.StartTime}} — {{.EndTime}}</p>

        <h5><i class="fas fa-truck-moving fa-md"></i> Je hebt gereden in</h5>
        {{range .TruckDriven}}
        <p>{{.}}</p>
        {{end}}

        <h5><i class="fas fa-globe-europe fa-md"></i> Bezochte landen</h5>
        <div class="row justify-content-md-center">
            {{range .VisitedCountries}}
            <div class="col col-lg-3">
                <img class="flag" src="../flags/{{.}}.svg">
            </div>
            {{end}}
        </div>
        <h5><i class="fas fa-smile-wink fa-md"></i> Grap van de week</h5>
        <p>{{.PersonalJoke}}</p>
    </div>

    <div class="main">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h2 class="card-title">Route van afgelopen week</h2>
                    <img class="graph map" src="{{.TransicsID}}_maps_graph_{{.EndTime}}.png">
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="card card-small">
                            <h1 class="card-title med-text">{{.PanicBrakes}}</h1>
                            <p class="text">Hard geremd</p>
                        </div>
                        <div class="card card-small">
                            <h1 class="card-title med-text">{{.CruiseControl}}</h1>
                            <p class="text">Cruise Control gebruik</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="card card-small">
                            <h1 class="card-title med-text">{{.DrivenKm}}</h1>
                            <p class="text">Kilometer gereden</p>
                        </div>
                        <div class="card card-small">
                            <h1 class="card-title med-text">{{.FuelConsumption}}</h1>
                            <p class="text">Diesel verbruikt</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h2 class="card-title">Bezigheden</h2>
                    <img class="graph" src="{{.TransicsID}}_activity_graph_{{.EndTime}}.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <h2 class="card-title">Verbruik in liters per 100 kilometers</h2>
                    <img class="graph" src="{{.TransicsID}}_fuel_consumption_graph_{{.EndTime}}.png">
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h2 class="card-title">Stationaair draaien</h2>
                    <img class="graph" src="{{.TransicsID}}_idling_graph_{{.EndTime}}.png">
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <h2 class="card-title">Gemiddelde snelheid</h2>
                    <img class="graph" src="{{.TransicsID}}_high_speed_graph_{{.EndTime}}.png">
                </div>
            </div>
        </div>
    </div>
</body>

</html>